{% extends "submit/base.html" %}

{% block title %}measurements detail view{% endblock %}

{% block content %}

<div class="header contentbox">
  <h3>
    Details of submission {{ submission.number }} from user {{ submission.measurer }}
  </h3>
  <p class="textp">
    Submitted {{ submission.date | date:"Y-m-d H:i:s" }}
    Measured {{ submission.measure_date | date:"Y-m-d" }}
  </p>
</div>

<div class="details contentbox">
  <p> magic ok: {{ ff_m_ok }} </p>
  <p> pandas ok: {{ ff_p_ok }} </p>
</div>

{% endblock %}
