<!doctype html>

<!-- tämä on ns. landing page elikkäs ensimmäinen näytettävä sivu -->

<html>

  <head>

    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/submit.css" %}" />

    <title> Data submission </title>

  </head>

  <body>

    <div class="page">

      <div class="top contentbox">
	<h1 class="landingtitle"> Upload soil respiration data </h1>
      </div>

      <div class="main contentbox">

	<div class="explanation">
	  <p class="textp">
	    This is a test web service for submitting measurement forms.
	  </p>
	</div>

	<div class="entry">
	  <p class="textp">
	    click here to login
	  </p>
	  <p class="linkp"> <a href="/submit/upload"> login </a> </p>
	</div>

      </div>

    </div>

  </body>

</html>

